<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<title>
			404 page not found
		</title>
	</head>
	<body>
		<div class="navbar-header">
		      <img alt="Brand" src="/images/sadCar.jpg" style="width:250px;height:250px">
		</div>
	</body>
</html>