<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <img alt="Brand" src="/images/lamborgini.jpg" style="width:50px;height:50px">
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/help">Help</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Actions <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/view">View</a></li>
              <li class="divider"></li>
              <li><a href="/logout">logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <form>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
          <input id="floor_name" name="floor_name" type="text" class="form-control" placeholder="Floor Name" aria-describedby="sizing-addon1">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
          <input id="booking_date" name="booking_date" type="date" class="form-control" placeholder="Date" aria-describedby="sizing-addon1">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
          <input id="checkin_time" name="checkin_time" type="time" class="form-control" placeholder="Date" aria-describedby="sizing-addon1">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </span>
        <input id="checkout_time" name="checkout_time" type="time" class="form-control" placeholder="Date" aria-describedby="sizing-addon1">
      </div>
    </div>
    <button id="searchButton" class="btn btn-warning btn-lg">Search</button>
  </form>
</div>
<div class='table-responsive' id="resultDiv"></div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#searchButton').on('click', function() {

      var sendInfo = {
        floor_name : $("#floor_name").val(),
        checkin_time : $("#booking_date").val() + 'T' + $("#checkin_time").val() + ':00.000Z',
        checkout_time : $("#booking_date").val() + 'T' + $("#checkout_time").val() + ':00.000Z'
      };

      //alert(sendInfo.checkin_time);

      var bookingTable = $("#resultDiv");

      $.ajax({
        type: "POST",
        url: "http://localhost:3000/api/bookings",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: JSON.stringify(sendInfo),
        success: function (data, status, jqXHR) {
          alert(JSON.stringify(data));
          var resultData = "<table><tr><th>Floor Name</th><th>Slot Number</th></tr>";
          for(index = 0; index < data.parking_lots.length; index++) {
            resultData += '<tr><td>' + data.parking_lots[index].floor_name + '</td><td>' + data.parking_lots[index].slot_number + '</td></tr>';
          }

          resultData += "</table>";

          bookingTable.html(resultData);

          //$.redirect('http://localhost:3000/searchResult', JSON.stringify(data));
          //window.location ="http://localhost:3000/searchResult";
          //var temp = JSON.stringify(data);

          /*$.ajax({
            type: "POST",
            url: "http://localhost:3000/api/searchResult",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (data, status, jqXHR) {
            // do something
            },

            error: function (jqXHR, status) {
            // error handler
            }
          });*/

          /*document.write(data.parking_lots.length);
          document.write('<table><tr><th>Floor Name</th><th>slot_number</th></tr>')
          for(index = 0; index < data.parking_lots.length; index++) {
            document.write('<tr>')
            document.write('<td>' + data.parking_lots[index].floor_name + '</td>');
            document.write('<td>' + data.parking_lots[index].slot_number + '</td>');
            document.write('</tr>')
          }
          document.write('</table>');*/
          //$("#resultDiv").html(data.parking_lots[0].slot_number);
          //alert("Success: " + data[0].slot_number);  
          //alert("Success: " + parking_lots[0].slot_number);
        },

        error: function (jqXHR, status) {
          alert("Error:" + status);
        // error handler
        }
      });
      return false;
    });
  });


</script>
</body>
</html>